@font-face {
    font-family: "DINRegular.ttf";
    src: url("../res/font/DINRegular.ttf");
}

body {
    background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
    font-family: "DINRegular.ttf";
}


/* Effet de la barre lorsque la souris passe */

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


/* L'effet de la barre s'arrête ici */

ul {
    color: #04b1b7;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#fdc a {
    color: #dcb253;
}

#fdc a:hover {
    color: white !important;
}

a {
    text-decoration: none;
    color: #04b1b7;
}

.couleur {
    color: red;
}

.couleur a {
    color: red;
}

a:hover {
    color: yellow;
}

li {
    font-size: 1.8rem;
}

ul img {
    width: 180px;
}

.ensemble {
    display: flex;
    justify-content: center;
}

.affiche img {
    padding-top: 3%;
    width: 600px;
}

p {
    color: white;
}

section p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
    padding-top: 4%;
}

.first {
    display: flex;
    justify-content: space-around;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.063);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.footer a {
    margin: -5%;
}

.bas {
    color: white;
    text-align: center;
}

@media (max-width: 1700px) {
    .affiche img {
        width: 200px;
    }
    section p {
        font-size: 1.5rem;
    }
    ul {
        justify-content: space-between;
    }
    li {
        font-size: 1.5rem;
    }
}

@media (min-width: 1700px) and (max-width: 2200px) {
    .affiche img {
        width: 200px;
    }
    section p {
        font-size: 2rem;
    }
    .first {
        margin-top: 6%;
    }
}

@media (min-width: 2900px) and (max-width: 3200px) {
    .affiche img {
        width: 600px;
    }
    .titre img {
        width: 600px;
    }
    li {
        font-size: 2.8rem;
    }
}