body {
    background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
}

ul {
    color: #04b1b7;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: #04b1b7;
}

.couleur{
    color: red;
}

.couleur a {
    color: red;
}

a:hover {
    color:yellow;
}

li {
    font-size: 1.8rem;
}

ul img {
    width: 180px;
}

.ensemble{
    display: flex;
    justify-content: center;
}

.affiche img{
    padding-top: 3%;
    width: 600px
}

p{
    color: white;
}

section p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
    padding-top: 4%;
}