body {
  background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
}

ul {
  color: yellow;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: white;
}

li {
  font-size: 1.8rem;
}

ul img {
  width: 180px;
}

.titre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.titre img {
  width: 500px;
}

.affiche {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
}

.cadre1 img,
.cadre2 img,
.cadre3 img,
.cadre4 img {
  width: 400px;
  border: 2px solid white;
  border-radius: 20px;
  transition: all 1s ease-in-out;
}

.logo1 img,
.logo2 img,
.logo3 img,
.logo4 img {
  width: 200px;
}

.cadre1:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}

.affichelogo {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.logo2,
.logo3,
.logo4 {
  margin-left: 16%;
}

@media (max-width: 1700px) {
  .affiche img {
    width: 300px;
  }

  .logo1 img,
  .logo2 img,
  .logo3 img,
  .logo4 img {
    width: 150px;
  }
}

@media (min-width: 1700px) and (max-width: 2200px) {
    .affiche img {
        width: 300px;
      }
    
      .logo1 img,
      .logo2 img,
      .logo3 img,
      .logo4 img {
        width: 140px;
      }
}
