@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');
body {
    background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
    font-family: 'Spectral', serif;
}


/* Effet de la barre lorsque la souris passe */

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


/* L'effet de la barre s'arrête ici */

ul {
    color: yellow;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: white;
}

li {
    font-size: 1.8rem;
}

ul img {
    width: 180px;
}

.titre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titre img {
    width: 500px;
}

.affiche {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

.cadre1 img,
.cadre2 img,
.cadre3 img,
.cadre4 img {
    width: 400px;
    border: 2px solid white;
    border-radius: 20px;
}

.cadre1,
.cadre2,
.cadre3,
.cadre4,
.cadre5,
.cadre6 {
    transition: all 1s ease-in-out;
}

.logo1 img,
.logo2 img,
.logo3 img,
.logo4 img {
    width: 200px;
}

.cadre1:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.cadre2:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.cadre3:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.cadre4:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.affichelogo {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.logo2,
.logo3,
.logo4 {
    margin-left: 16%;
}

.cadre5 img {
    width: 400px;
    border: 2px solid red;
    border-radius: 20px;
}

.cadre5:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.cadre6 img {
    width: 400px;
    border: 2px solid #23aea9;
    border-radius: 20px;
}

.cadre6:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

@media (max-width: 1700px) {
    .affiche img {
        width: 200px;
    }
    .logo1 img,
    .logo2 img,
    .logo3 img,
    .logo4 img {
        width: 90px;
    }
    ul {
        justify-content: space-between;
    }
    li {
        font-size: 1.5rem;
    }
}

@media (min-width: 1700px) and (max-width: 2200px) {
    .affiche img {
        width: 250px;
    }
    .logo1 img,
    .logo2 img,
    .logo3 img,
    .logo4 img {
        width: 140px;
    }
}