body {
    background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.jpg);
}

ul {
    color: yellow;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover{
    color: white;
}

ul img {
    width: 180px;
}

.affiche {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
}

.affiche img{
    width: 500px;
}

.titre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titre img{
    width: 500px;
}

p{
    color: white;
    width: 1600px;
    font-size: 1.5rem;
    text-align: justify;
}

.tds{
display: flex;
justify-content: space-evenly;
align-items: center;
height: 1100px;
}