@font-face {
    font-family: "DINRegular.ttf";
    src: url("../res/font/DINRegular.ttf");
}

body {
    background-image: url(../res/img/fond_neutre.webp);
    font-family: "DINRegular.ttf";
}

li {
    font-size: 1.8rem;
}


/* Effet de la barre lorsque la souris passe */

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


/* L'effet de la barre s'arrête ici */

ul {
    color: yellow;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    font-size: 1.8rem;
}


/* Effet de la barre lorsque la souris passe */

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


/* L'effet de la barre s'arrête ici */

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: white;
}

ul img {
    width: 180px;
}

.affiche {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

.affiche img {
    width: 500px;
}

form {
    padding: 30px;
    background-color: transparent;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 700px;
    margin-left: 25%;
    margin-top: 5%
}

form h1 {
    font-size: 20px;
    color: white;
}

form .separation {
    width: 100%;
    height: 1px;
    background-color: yellow;
}

form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .corps-formulaire .groupe {
    position: relative;
    /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #747cdf;
    outline-color: #747cdf;
    border-radius: 5px;
}

form .corps-formulaire .gauche .groupe i {
    position: absolute;
    /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #747cdf;
}

form .corps-formulaire .droite {
    margin-left: 40px;
}

form .corps-formulaire .droite .groupe {
    height: 100%;
}

form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 80%;
    width: 400px;
}

form .pied-formulaire button {
    margin-top: 10px;
    background-color: black;
    border: 2px solid white;
    border-radius: 1px;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

form .pied-formulaire button:hover {
    transform: scale(1.05);
}

label {
    color: white;
}

.first {
    display: flex;
    justify-content: space-around;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.063);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.footer a {
    margin: -5%;
}

.bas {
    color: white;
    text-align: center;
}

@media (max-width: 1700px) {
    .affiche img {
        width: 300px;
    }
    .titre img {
        width: 300px;
    }
    li {
        font-size: 1.3rem;
    }
    ul {
        justify-content: space-between;
    }
    .first{
        margin-top: 10%;
    }
}

@media (min-width: 1700px) and (max-width: 2200px) {
    .first {
        margin-top: 6%;
    }
}

@media only screen and (max-width: 800px) {
    form{
        width: 430px;
        margin-left: 3%;
    }
    form .corps-formulaire .droite .groupe textarea{
        width: 200px;
    }
li{
    font-size: 0.7rem;
}
ul img{
    width: 80px;
}
  }