<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background-image: url(../../StarWars/res/img/background-stars-desktop_00cbf8a9dddd.webp);
  font-family: "Spectral", serif;
}

ul {
    color: yellow;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
=======
<<<<<<< HEAD

@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap");
body {
  background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
  font-family: "Spectral", serif;
=======
@font-face {
    font-family: "DINRegular.ttf";
    src: url("../res/font/DINRegular.ttf");
}

body {
    background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
    font-family: "DINRegular.ttf";
>>>>>>> 574691d8e94b846c49792d9303e70ba50ad0aebf
}

li {
    font-size: 1.8rem;
}

/* Effet de la barre lorsque la souris passe */

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


/* L'effet de la barre s'arrête ici */

<<<<<<< HEAD
=======
#div1 {
    color: white;
    width: 1300px;
    font-size: 2rem;
    text-align: left;
}

form {
    text-align: right;
    margin: 0 30%;
}

#form1 {
    display: flex;
    justify-content: end;
}

p {
    color: white;
    width: 1300px;
    font-size: 2rem;
    text-align: left;
}

section {
    color: rgb(167, 23, 23);
    width: 80%;
    margin: 0 auto;
    font-size: 2.5rem;
    padding-top: 4%;
>>>>>>> 2516933f1e89ee166ff9ae279ef404942eec22a5
}

ul {
    color: yellow;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    font-size: 1.8rem;
}
/* Effet de la barre lorsque la souris passe */
.navbar ul li {
  display: inline-block;
  position: relative;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}
/* L'effet de la barre s'arrête ici */

>>>>>>> 574691d8e94b846c49792d9303e70ba50ad0aebf
a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: white;
}

ul img {
    width: 180px;
}

.affiche {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

.affiche img {
    width: 500px;
}

<<<<<<< HEAD
form {
  padding: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  width: 700px;
  margin-left: 25%;
}
form h1 {
  font-size: 20px;
  color: white;
}
form .separation {
  width: 100%;
  height: 1px;
  background-color: #747cdf;
}
form .corps-formulaire {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
form .corps-formulaire .groupe {
  position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form .corps-formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #c9c9c9;
  outline-color: #747cdf;
  border-radius: 5px;
}
form .corps-formulaire .gauche .groupe i {
  position: absolute; /* positionné par rapport à son parent le plus proche positionné */
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: #747cdf;
}
form .corps-formulaire .droite {
  margin-left: 40px;
}
form .corps-formulaire .droite .groupe {
  height: 100%;
}
form .corps-formulaire .droite .groupe textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 2px solid #747cdf;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 80%;
  width: 400px;
}
form .pied-formulaire button {
  margin-top: 10px;
  background-color: #747cdf;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}
form .pied-formulaire button:hover {
  transform: scale(1.05);
}

label {
  color: white;
=======
#ep1,
#ep2,
#ep3 {
  transition: all 1s ease-in-out;
}

#ep1:hover,
#ep2:hover,
#ep3:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}

.titre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titre img {
    width: 500px;
>>>>>>> 574691d8e94b846c49792d9303e70ba50ad0aebf
}

@media (max-width: 1700px) {
<<<<<<< HEAD
  .affiche img {
    width: 300px;
  }
  .titre img {
    width: 300px;
  }
  li {
    font-size: 1.5rem;
  }
  ul {
    justify-content: space-between;
  }
}

@media (min-width: 1700px) and (max-width: 2200px) {
  .affiche img {
    width: 430px;
  }
  .titre img {
    width: 430px;
  }
}

/* Réglage Thierry */
@media (min-width: 2900px) and (max-width: 3200px) {
  .affiche img {
    width: 600px;
  }
  .titre img {
    width: 600px;
  }
=======
    .affiche img {
        width: 300px;
    }
    .titre img {
        width: 300px;
    }
    li {
        font-size: 1.5rem;
    }
    ul {
        justify-content: space-between;
    }
>>>>>>> 2516933f1e89ee166ff9ae279ef404942eec22a5
}