@font-face {
  font-family: "DINRegular.ttf";
  src: url("../res/font/DINRegular.ttf");
}

body {
  background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
  font-family: "DINRegular.ttf";
}

ul {
  color: yellow;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li {
  font-size: 1.8rem;
}

/* Effet de la barre lorsque la souris passe */

.navbar ul li {
  display: inline-block;
  position: relative;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.v2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  font-size: 7rem;
  color: yellow;
  border: 2px solid yellow;
  border-radius: 20px;
  width: 60%;
}

/* L'effet de la barre s'arrête ici */

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: white;
}

ul img {
  width: 180px;
}

.affiche {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
}

.affiche img {
  width: 500px;
}

#ep1,
#ep2,
#ep3 {
  transition: all 1s ease-in-out;
}

#ep1:hover,
#ep2:hover,
#ep3:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}

.titre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.titre img {
  width: 500px;
}

.titre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.principal {
  height: 700px;
}

.first {
  display: flex;
  justify-content: space-around;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.063);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}

.footer a {
  margin: -5%;
}

.bas {
  color: white;
  text-align: center;
}

@media (max-width: 1700px) {
  .affiche img {
    width: 300px;
  }
  .titre img {
    width: 300px;
  }
  li {
    font-size: 1.3rem;
  }
  ul {
    justify-content: space-between;
  }
}

@media (min-width: 1700px) and (max-width: 2200px) {
  .affiche img {
    width: 380px;
  }
  .titre img {
    width: 380px;
  }
  .first {
    margin-top: 6%;
  }
}

/* Réglage Thierry pc home*/

@media (min-width: 2000px) and (max-width: 5000px) {
  .affiche img {
    width: 480px;
  }
  .titre img {
    width: 500px;
  }
  li {
    font-size: 2.8rem;
  }
  .first {
    height: 250px;
  }
  .principal {
    height: 950px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding-top: 0%;
  }
}
