@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');
body {
    background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
    font-family: 'Spectral', serif;
}

ul {
    color: yellow;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: white;
}

ul img {
    width: 180px;
}

.affiche {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

.affiche img {
    width: 500px;
}

#ep1,
#ep2,
#ep3 {
    transition: all 1s ease-in-out;
}

#ep1:hover,
#ep2:hover,
#ep3:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.titre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titre img {
    width: 500px;
}

@media (max-width: 1700px) {
    .affiche img {
        width: 300px;
    }
    .titre img {
        width: 300px;
    }
    li {
        font-size: 1.5rem;
    }
    ul {
        justify-content: space-between;
    }
}

@media (min-width: 1700px) and (max-width: 2200px) {
    .affiche img {
        width: 430px;
    }
    .titre img {
        width: 430px;
    }
}