@font-face {
    font-family: "DINRegular.ttf";
    src: url("../res/font/DINRegular.ttf");
}

body {
    background-image: url(../res/img/wallpaperbetter.com_1366x768.png);
    font-family: "DINRegular.ttf";
}


/* Effet de la barre lorsque la souris passe */

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


/* L'effet de la barre s'arrête ici */

ul {
    color: yellow;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: white;
}

ul img {
    width: 180px;
}

h1 {
    color: white;
    font-size: 5rem;
    width: 380px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 3rem;
}

h3 {
    color: white;
    font-size: 3rem;
}

.perso {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.perso1 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1%;
}

.perso2 {
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.perso2 {
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1%;
}

.ep {
    border: 1px solid white;
    padding-top: 3%;
    width: 380px;
    margin-top: 1%;
    border-radius: 15px;
    padding: 3%;
}

.photomovie {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}

.planete {
    width: 380px;
}

.indentification {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
}

.photo img {
    width: 400px;
    border-radius: 50%;
}

.planete {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.statut {
    display: flex;
}

.corp {
    width: 280px;
}

p {
    color: white;
    font-size: 2rem;
}