@font-face {
    font-family: "DINRegular.ttf";
    src: url("../res/font/DINRegular.ttf");
}

#neutre {
    background-image: url(../res/img/fond_neutre.webp);
}

#gentil {
    background-image: url(../res/img/fond\ force.webp);
}

#mechant {
    background-image: url(../res/img/fond\ obscur.webp);
}


/* Effet de la barre lorsque la souris passe */

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


/* L'effet de la barre s'arrête ici */

ul {
    color: #23aea9;
    ;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    font-size: 1.8rem;
    font-family: "DINRegular.ttf";
}

#mechant a {
    color: red;
}

#mechant a:hover {
    color: white
}

#neutre a {
    text-decoration: none;
    color: yellow !important;
}

#neutre a:hover {
    color: white !important;
}

a {
    text-decoration: none;
    color: #23aea9;
}

a:hover {
    color: white;
}

ul img {
    width: 180px;
}

h1 {
    color: white;
    font-size: 5rem;
    width: 380px;
    text-align: center;
    font-family: "DINRegular.ttf";
}

h2 {
    color: white;
    font-size: 3rem;
    font-family: "DINRegular.ttf";
}

h3 {
    color: white;
    font-size: 3rem;
    font-family: "DINRegular.ttf";
}

.perso {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.perso1 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1%;
}

.perso2 {
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.perso2 {
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1%;
}

.perso3 h3 {
    font-size: 35px;
    width: 220px;
}

.ep {
    border: 1px solid white;
    padding-top: 3%;
    width: 380px;
    margin-top: 1%;
    border-radius: 15px;
    padding: 3%;
}

.photomovie {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}

.planete {
    width: 380px;
}

.indentification {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
}

.photo img {
    width: 400px;
    border-radius: 50%;
    border: 2px solid white;
}

.planete {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.statut {
    display: flex;
}

.corp {
    width: 280px;
}

p {
    color: white;
    font-size: 2rem;
    font-family: "DINRegular.ttf";
}

.first {
    display: flex;
    justify-content: space-around;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.063);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.footer a {
    margin: -5%;
}

.bas {
    color: white;
    text-align: center;
}

@media (max-width: 1700px) {
    li {
        font-size: 1.5rem;
    }
    ul {
        justify-content: space-between;
    }
    .ep {
        width: 320px;
        height: 90px;
    }
}

@media (min-width: 1700px) and (max-width: 2200px) {
    .first {
        margin-top: 6%;
    }
    .ep {
        height: 120px;
    }
}

@media (min-width: 2900px) and (max-width: 3200px) {
    li {
        font-size: 3.8rem;
    }
}
@media only screen and (max-width: 800px) {
  .photo img {
    width: 150px;
  }
  .planete {
    width: 200px;
  }
  h1 {
    font-size: 2rem;
  }
  li {
    font-size: 0.7rem;
  }
  ul img {
    width: 80px;
  }
  .corp {
    width: 140px;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.3rem;
  }
h1{
    width: 155px;
}
.photomovie{
    flex-direction: column;
}
}