body {
  background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
}

ul {
  color: yellow;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: white;
}

ul img {
  width: 180px;
}

.acteur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.personnage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  width: 90%;
  height: 400px;
  margin-bottom: 10%;
}
.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    width: 90%;
    height: 400px;


}
.id {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 500px;
  height: 50px;
}
.acteur {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.perso {
    width: 100%;
    display: flex;

  }
  .movies {
    width: 100%;
    display: flex;
  }
.perso img {
    width: 300px;
    display: flex;

  }
.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 500px;
}
.info1 {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  border: 1px solid white;
  width: 800px;
  height: 500px;
}
.planete {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 500px;
  height: 500px;
}

img {
    width: 450px;
}

.etat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  width: 800px;
  height: 500px;
}
.history {


display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  flex-direction: column;
  width: 100%;
  height: 800px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
h2{
    font-size: 3rem;
    color: white;
}
.cote {
    width: 270px;
}
h3{
    font-size: 4rem;
    color: white;
}
h1{
    font-size: 4rem;
    color: white;
}
.photomovie {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 80%;

}
.ep {
    width: 400px;
}
@media (min-width: 2900px) and (max-width: 3200px) {
    .affiche img {
      width: 600px;
    }
    .titre img {
      width: 600px;
    }
  }
  li {
    font-size: 3.8rem;
  }