@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');
body {
    background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
    font-family: 'Spectral', serif;
}

ul {
    color: yellow;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: white;
}

ul img {
    width: 180px;
}

.affiche {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
}

img {
    width: 700px;
}

.titre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titre img {
    width: 500px;
}

p {
    color: white;
    width: 1300px;
    font-size: 2rem;
    text-align: justify;
}

.tds {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 1100px;
}

.movies {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: -2%;
    margin-top: 1%;
}

.ep {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-left: 20px;
    padding: 1%;
}

.ep img {
    display: flex;
    width: 40%;
    margin-bottom: 1%;
    padding-top: -3%;
    padding: 3%;
}