body {
  background-image: url(../res/img/background-stars-desktop_00cbf8a9dddd.webp);
}

ul {
  color: #04b1b7;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  color: #04b1b7;
}

.couleur {
  color: white;
}

.couleur a {
  color: white;
}

a:hover {
  color: yellow;
}

li {
  font-size: 1.8rem;
}

ul img {
  width: 180px;
}

.ensemble {
  display: flex;
  justify-content: center;
}
.ensemble1 {
  display: flex;
  justify-content: center;
}

.affiche img {
  padding-top: 20%;
  width: 300px;
}
.affiche1 img {
  padding-top: 20%;
  width: 300px;
}

p {
  color: white;
}

section p {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
  padding-top: 4%;
}

@media (max-width: 1700px) {
    .affiche img {
        width: 300px;
      }
      section p{
        font-size: 1.8rem;
      }
  }

@media (min-width: 1700px) and (max-width: 2200px) {
  .affiche img {
    width: 400px;
  }
  section p{
    font-size: 2rem;
  }
}
.planete .planete1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.astres {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
